extends layout
block content
  .boasvindas
    h1.corpadrao  Bem-vindo à ShopSmart!
    p.
      Sua experiência de compra é nossa prioridade! Descubra uma seleção incrível de produtos, desde moda até eletrônicos, com ofertas imperdíveis.

  section
  #area-postagens
    .postagem
      a(href="/categorias/roupas")
        h2 Moda
      p.
        As melhores roupas do mercado!!!
            
    .postagem
      a(href="/categorias/eletronicos")
        h2 Eletrônicos
      p.
        Os gadgets mais modernos chegaram! Visite nossa seção de tecnologia e eletrônicos e fique por dentro.

    .postagem
      a(href="/categorias/acessorios")
        h2 Acessórios
      p.
        O acessório perfeito você encontra aqui!!!

  #area-lateral
    .conteudo-lateral
      h2 Nossas Ofertas
      ul
        li Ofertas imperdíveis para você!
        li Frete grátis em compras acima de R$ 200,00
        li Descontos especiais para novos clientes
        li Produtos selecionados com até 50% de desconto!
