doctype html
html(lang="pt-BR")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title ShopSmart - Sua loja Online
    link(rel="stylesheet", href="stylesheets/css")
  body
    header.header
      //Barra superior
      .top-bar
        .top-bar-content 
          .contact-info
            span (19) 99698-8600
            span.contact-email shopsmart@email.com
          .promo-info
            span Frete grátis acima de R$ 199
            span.promo-secure Compre com 100% de segurança
