doctype html
html
  head
    meta(charset="utf-8")
    title O seu e-commerce preferido
    link(rel="stylesheet", type="text/css", href="/stylesheets/estilo.css")
  body
    #area-cabecalho
      #area-logo
        h1
          | Shop
          span.branco Smart
      #area-menu
        a(href="/") Home
        a(href="/nossosprodutos") Nossos produtos
        a(href="") Para você
        a(href="") Promoções

    #area-principal
      #area-postagens
        .postagem
          h2 Camiseta poliéster vermelha.
          span.data-postagem Marca
          .product-image
            img(src="images/camisetavermelha.jpeg")
          p Camiseta 100% poliéster, tamanhos variados.
          a(href="--") Comprar
          a(href="--")
            p Adicionar ao Carrinho

        .postagem
          h2 Calça Jeans
          span.data-postagem Marca
          .product-image
            img(src="images/calcajeans.jpeg", alt="Produto")
          p Tamanhos variados
          a(href="--") Comprar
          a(href="--")
            p Adicionar ao Carrinho

        .postagem
          h2 Camiseta poliéster vermelha.
          span.data-postagem Marca
          .product-image
            img(src="images/camisetavermelha.jpeg")
          p Camiseta 100% poliéster, tamanhos variados.
          a(href="--") Comprar
          a(href="--")
            p Adicionar ao Carrinho

      #area-lateral
        .conteudo-lateral
          h3 Categorias
          a(href="") Roupas
          br
          a(href="") Tecnologia
          br
          a(href="") Casa

      #rodape
        | Pagamento 100% seguro. ShopSmart!!!