extends layout
block content
    .postagem
        h1.corpadrao Cadastrar novo usuário
        if error
            p(style="color: red") #{error}
        form(action="/register", method="post")
            div
            label(for="usuario") Usuário:
            input(type="text", name="usuario", id="usuario", required)
            div
            label(for="senha") Senha:
            input(type="password", name="senha", id="senha", required)
            div
            label(for="funcao") Função:
            select(name="funcao", id="funcao")
                option(value="user") user
                option(value="admin") admin
            div
            button(type="submit") Cadastrar
        p
            a(href="/login") Já tem conta? Faça login
