/* VARIÁVEIS CSS ( Propriedades padrão ) */

:root {
	/*Cores principais*/
	--primary-dark: #0b3d2e;
	--primary-light: #14563f;
	--accent-light: #f4f3ef;
	--text-dark: #333;
	--text-medium: #555;
	--backgraound-gradient: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
	--primary-gradient: linear-gradient(135deg, var(--primary-dark) 0%, var(--primary-light) 100%);
	--white-overlay: rgba(225, 255, 255, 0.05);
	--white-overlay-light: rgba(255, 255, 255, 0.05);
	--border-light: rgba(11, 61, 46, 0.1);

	/*Espaçamento*/
	--spacing-xs: 8px;
	--spacing-sm: 12px;
	--spacing-md: 15px;
	--spacing-lg: 20px;
	--spacing-xl: 25px;
	--spacing-xxl: 30px;

	/*Borda*/
	--radius-sm: 6px;
	--radius-md: 8px;
	--radius-lg: 12px;

	/*Sombreamento*/
	--shadow-sm: 0 2px 8px rgba(0, 0, 0, 0.1);
	--shadow-md: 0 4px 20px rgba(0, 0, 0, 0.08);
	--shadow-lg: 0 8px 32px rgba(0, 0, 0, 0.1);
	--shadow-hover: 0 12px 40px rgba(0, 0, 0, 0.15);

	/*Trasições*/
	--transition-fast: all 0.3s ease;
	--transition-slow: all 0.5 ease;
}

/* Reset dos estilos padrões*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1em;
	line-height: 1.6;
	color: var(--text-dark);
	background: var(--backgraound-gradient);
	min-height: 100vh;
}