extends ../layout 
block content
  #area-postagens
    .postagem
      h2 Colar de esmeralda   
      span.data-postagem PANDORA
      .product-image
        img(src="/images/colaresmeralda.jpg")
      p Colar de esmeralda deslumbrante, com pedra central vibrante que traz luxo e sofisticação a qualquer ocasião especial.
      a(href="--") Comprar
      a(href="--")
        p Adicionar ao Carrinho

    .postagem
      h2 Pulseira de pérola
      span.data-postagem VIVARA
      .product-image
        img(src="/images/pulseiraperola.jpg", alt="Produto")
      p Pulseira de pérola elegante e sofisticada, perfeita para adicionar um toque clássico e refinado ao seu visual.
      a(href="--") Comprar
      a(href="--")
        p Adicionar ao Carrinho

    .postagem
      h2 Brinco de pérola
      span.data-postagem PANDORA
      .product-image
        img(src="/images/brincoperola.jpg")
      p Brinco de pérola delicado e atemporal, ideal para complementar looks elegantes com um charme sutil e refinado.
      a(href="--") Comprar
      a(href="--")
        p Adicionar ao Carrinho

  #area-lateral
    .conteudo-lateral
      h3 Categorias
      a(href="/categorias/roupas") Roupas
      br
      a(href="/categorias/eletronicos") Eletrônicos
      br
      a(href="/categorias/acessorios") Acessórios