extends ../layout 
block content
  #area-postagens
    .postagem
      h2 Notebook Gamer
      span.data-postagem ACER
      .product-image
        img(src="/images/notebookgamer.jpg")
      p Notebook gamer potente com hardware de última geração, perfeito para rodar jogos AAA com alta performance e mobilidade.
      a(href="--") Comprar
      a(href="--")
        p Adicionar ao Carrinho

    .postagem
      h2 PC Gamer
      span.data-postagem PICHAU
      .product-image
        img(src="/images/pcgamer.jpg", alt="Produto")
      p PC gamer de alto desempenho com placa de vídeo dedicada, ideal para jogos pesados e gráficos em ultra resolução.
      a(href="--") Comprar
      a(href="--")
        p Adicionar ao Carrinho

    .postagem
      h2 Headset Gamer
      span.data-postagem HYPERX
      .product-image
        img(src="/images/headsetgamer.jpg")
      p Headset gamer com som surround imersivo, microfone com cancelamento de ruído e conforto para longas sessões de jogo.
      a(href="--") Comprar
      a(href="--")
        p Adicionar ao Carrinho

  #area-lateral
    .conteudo-lateral
      h3 Categorias
      a(href="/categorias/roupas") Roupas
      br
      a(href="/categorias/eletronicos") Eletrônicos
      br
      a(href="/categorias/acessorios") Acessórios
