extends ../layout 
block content
  #area-postagens
    .postagem
      h2 Camiseta poliéster vermelha.
      span.data-postagem RENNER
      .product-image
        img(src="/images/camisetavermelha.jpeg")
      p Camiseta 100% poliéster, tamanhos variados.
      a(href="--") Comprar
      a(href="--")
        p Adicionar ao Carrinho

    .postagem
      h2 Calça Jeans
      span.data-postagem LEVI'S
      .product-image
        img(src="/images/calcajeans.jpeg", alt="Produto")
      p Calça Jeans, tamanhos variados.
      a(href="--") Comprar
      a(href="--")
        p Adicionar ao Carrinho

    .postagem
      h2 Bermuda Cargo
      span.data-postagem OPHICINA
      .product-image
        img(src="/images/bermudacargo.jpg")
      p Bermuda cargo estilosa e funcional, com múltiplos bolsos e tecido resistente, ideal para o dia a dia e aventuras ao ar livre.
      a(href="--") Comprar
      a(href="--")
        p Adicionar ao Carrinho

  #area-lateral
    .conteudo-lateral
      h3 Categorias
      a(href="/categorias/roupas") Roupas
      br
      a(href="/categorias/eletronicos") Eletrônicos
      br
      a(href="/categorias/acessorios") Acessórios
